<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let nut of dishes" [routerLink]="['/dishdetail', nut.id]">
        <img height="200px" mat-list-avatar src={{nut.image}} alt={{nut.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line> {{nut.name | uppercase}} </h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
