<div  style="margin: auto; text-align: center;"  *ngIf="!(dish || errmess)">
  <h4>Loading . . . Please Wait </h4>
  <mat-spinner style="margin:0 auto;" ></mat-spinner>
</div>
<div *ngIf="errMess">
  <h2>There was a problem loading this!</h2>
  <h4>{{errMess}}</h4>
</div>


<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div>
      <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
      <hr>
    </div>
  </div>

    <div *ngIf="dish">
      <div fxFlex="40" [@visibility]="initial" [@expand]>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
          <mat-card-content>
            <p>{{dish.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <span class="flex-spacer">
              <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
              <button mat-button (click)="goBack()">BACK</button>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
              <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </span>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="40">
        <!-- <mat-list rowHeight="200px"> -->
        <mat-list [@visibility]="initial" [@expand]>
          <h3>Comments</h3>
          <mat-list-item *ngFor="let comment of dish.comments">
            <img height="200px" mat-list-avatar src="{{BaseURL + comment.avatar}}" alt="{{comment.author}}">
            <span matLine>
              <div fxLayoutAlign="left" class="rating star-icon direction-ltr value-{{comment.rating}} color-ok">
                <div class="star-container">
                    <div class="star" *ngFor="let star of scale">
                        <i class="star-empty"></i>
                        <i class="star-half"></i>
                        <i class="star-filled"></i>
                    </div>
                </div>
              </div>
            </span>
            <span matLine>{{comment.comment}}</span>
            <span matLine>—{{comment.author}} {{comment.date | date}}</span>
          </mat-list-item>
          <mat-list-item *ngIf="feedbackForm.valid">
            <img height="200px" mat-list-avatar src="{{feedbackForm.value.avatar}}" alt="{{feedbackForm.value.author}}">
            <span matLine>{{feedbackForm.value.comment}}</span>
            <span matLine>{{feedbackForm.value.rating}} stars</span>
            <span matLine>—{{feedbackForm.value.author}} {{feedbackForm.value.date | date}}</span>
          </mat-list-item>
        </mat-list>
        <div class="form-size" [@visibility]="initial" [@expand]>
          <h2>Post Feedback</h2>
          <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-slider min="1" max="{{scale.length}}" step="1" tickInterval="1" thumbLabel matInput formControlName="rating" placeholder="Rating" type="number" required></mat-slider>
              <br/>
              <mat-form-field>
                <input matInput formControlName="comment" placeholder="Comment" type="text" required>
                <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <input matInput formControlName="author" placeholder="Author Name" type="text" required>
                <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
              </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>

</div>
